<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to image_tag('cocktail-logo.png'), cocktails_path, class:"logo" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Add Cocktail'.html_safe, new_cocktail_path %>
  </div>
</div>
