<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "CocktailFever", cocktails_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add Cocktail", new_cocktail_path %>
  </div>
</div>
