.card {
  height: 320px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 3%;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-description {
  text-align: center !important;
}
.title {
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card-description {
  h2 {
    color: transparent;
    margin-bottom: 30px;
  }
  p {
    text-align: center;
    list-style: none;
  }
}
